# Força o uso do Node.js (impede que ele use o Caddy padrão na raiz)
providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx serve -s dist -l 80"